<html>
    <body>
        <h1>Editar dados do cliente: <%= cliente.nome %></h1>
        <form action="/clientes/<%= id %>" method="post">
            <input type="hidden" name="_method" value="put">
            <label>Nome: <input type="text" name="cliente[nome]" value="<%= cliente.nome %>"></label><br>
            <label>Idade: <input type="text" name="cliente[idade]" value="<%= cliente.idade %>"></label><br>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
