<html>
    <body>
         <h1>Cadastro de cliente</h1>
         <form action="/clientes" method="post">
             <label>Nome: <input type="text" name="cliente[nome]"></label><br>
             <label>Idade: <input type="text" name="cliente[idade]"></label><br>
             <button type="submit">Enviar</button>
         </form>
         <h1>Lista de clientes</h1>
         <ul>
            <% for(var i = 0; i < clientes.length; i++){ %>
                <li><%= clientes[i].nome %> - <%= clientes[i].idade %><a href="/clientes/<%= i %>/edit">Editar</a> | <a href="/clientes/<%= i %>" method='delete'>Excluir</a></li>
            <% } %>
        </ul>
    </body>
</html>
