<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ntalk - Agenda de contatos</title>
    <link href='/public/stylesheets/boostrap.min.css' type='text/css' rel='stylesheet' />
    <link href='/public/stylesheets/boostrap-responsive.min.css' type='text/css' rel='stylesheet' />
    <link href='/public/stylesheets/style.css' type='text/css' rel='stylesheet' />
    <script type='text/javascript' src='/public/bootstrap.min.js'></script>
  </head>
  <body>
    <div class='container'>