<% include ../shared/header %>
<header>
  <h1>Ntalk</h1>
  <h4>Bem-vindo!</h4>
</header>
<section>
  <form action="/sign_in" method="post" class='login-form'>
    <input type="text" name="user[name]" placeholder="Seu nome">
    <br>
    <input type="text" name="user[email]" placeholder="Seu e-mail">
    <br>
    <button type="submit" class="btn btn-success">Entrar</button>
  </form>
</section>
<% include ../shared/footer %>